<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaulthref="/places/tabs/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>{{place.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img [src]="place.imageUrl"></ion-img>
    <ion-card-content>
      <p>{{place.description}}</p>
    </ion-card-content>

  </ion-card>
  <ion-button expand="full" margin color="primary" margin (click)="onBookPlace()">
    Book
  </ion-button>
</ion-content>