<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <h5> <strong> Gebetan App </strong></h5>
    <ion-avatar slot="end" [routerLink]="['/profile']">
      <img src="https://media.licdn.com/dms/image/C4E03AQFnkPFnRt2w-g/profile-displayphoto-shrink_200_200/0?e=1575504000&v=beta&t=IGxIs55_722fm6tkJ2UwHH5PUezUPsO9KAnRxYFMX1c">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item-sliding *ngFor="let g of loaded_gebetan">
      <ion-item>
        <ion-label>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-text-left">
                <ion-thumbnail>
                  <img  width="50" height="50"  src="{{g.image}}" />
                </ion-thumbnail>
              </ion-col>
              <ion-col class="ion-text-left">
                <h5><b>{{g.nama}}</b></h5>
                <p>{{g.desc}}</p>
                <p>
                  <ion-icon name="{{g.icon}}"></ion-icon>{{g.gender}}
                </p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>

      <ion-item-options>
        <ion-item-option color="danger" (click)="presentLoading(g)">
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>


</ion-content>