<ion-header>
  <ion-toolbar>
    <ion-title>My Bookings</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-list>
          <ion-item-sliding *ngFor="let b of bookings" #slidingBooking>
            <ion-item>
              <ion-label>
                <h5>{{ b.placeTitle }}</h5>
                <p>Guests: {{ b.guestNumber }}</p>
              </ion-label>
            </ion-item>
            <ion-item-options>
              <ion-item-option color="danger">
                <ion-icon name="trash" slot="icon-only" (click)="onCancelBooking(b.id, slidingBooking)"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
